*.o
*.lo
*.la
*.pc
*.in
*.status
*.sub
*.guess
*.log
*.swp
.deps
.libs
missing
compile
depcomp
Makefile
aclocal.m4
autom4te.cache
config.h
configure
install-sh
libtool
ltmain.sh
missing
.deps
Makefile
stamp-h1
.deps
core
